<h4>internal server error -refreshing the paghe will make the error disapear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular probably not to blame</p>
    <p>what to do next?</p>
    <ol>
        <li>Open the chrome and check the failing request in the network tab</li>
        <li>Eqmine the request url</li>
        <li>Repreduce the problem in Postman</li>
    </ol>
    <p style="font-weight: bold;"></p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>
